@media (min-width: 1200px) {
    .navbar-toggler {
        display: none;
    }

    .processo-movel {
        display: none;
        float: left;
        color: #fff;
        font-size: 14px;
    }

    .navbar {
        justify-content: left !important; 
    }
}

.bg-primary {
    background-color: #f5f5f5 !important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.navbar-brand {
    color: #717171;
    font-family: Muli,Helvetica Neue,Arial,sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-right: 2rem;

}

.menu-right {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-end !important;
    align-items: center;
    flex: 0 1 auto;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

i.s-16, mat-icon.s-16 {
    font-size: 16px!important;
    width: 16px!important;
    height: 16px!important;
    min-width: 16px!important;
    min-height: 16px!important;
}

.saida {
    margin-left: 10px;
}