<app-menu></app-menu>
<div class="secao-pagina">
    <mat-icon _ngcontent-c273="" class="secondary-text s-18 mat-icon material-icons mat-icon-no-color" role="img"
        aria-hidden="true">home</mat-icon>
    <mat-icon _ngcontent-c273="" class="secondary-text s-16 mat-icon material-icons mat-icon-no-color" role="img"
        aria-hidden="true">chevron_right</mat-icon>
    <span _ngcontent-c273="" class="secondary-text">Processos</span>
    <div style="padding-bottom:10px; padding-top: 10px;">
        Glossário
    </div>
</div>
